<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><article>Maiker</article></title>
</head>
<body>
	<h1>Welcome to example.com, <%= @user.name %></h1>
	<p>
		You have successfully signed up to exemple.com,
		your username us: <%= @user.login %>.<br>
	</p>
	<p>
		To login to the site, just follow this link: <%= @url %>
	</p>
	<p>Thanks for joining and have a great day!</p>
</body>
</html>